[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sikkamukul
[access "refs/for/refs/*"]
	read = group user/sikkamukul
	push = group user/sikkamukul
	label-Code-Review = -2..+2 group user/sikkamukul
	label-Verified = -1..+1 group user/sikkamukul
	rebase = group user/sikkamukul
	removeReviewer = group user/sikkamukul
	submit = group user/sikkamukul
[access "refs/heads/*"]
	read = group user/sikkamukul
	create = group user/sikkamukul
	push = +force group user/sikkamukul
	pushMerge = group user/sikkamukul
[access "refs/tags/*"]
	push = group user/sikkamukul
	push = +force group user/sikkamukul
